<html lang="en">
<head>
    <title>Bank</title>
    <link rel='stylesheet' href='stylesheets/general.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="stylesheets/general.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="maindiv" class="maindiv">
    <div class="middle-container">
        <span> <img id="website" src="images/webpage-content-and-logo.png" align="left" width="100%" height="100%"></span>
    </div>

        <script>
          window.watsonAssistantChatOptions = {
            integrationID: "<wa_integration_id>", // The ID of this integration.
            region: "<wa_region>", // The region your integration is hosted in.
            serviceInstanceID: "<wa_service_instance_id>", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
          setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
          });
        </script>

        </div>
    </div>
</div>


</body>
</html>

